doctype html
html
  include common/_head
  body
   include common/_header
   include common/triangle-about
   .about__wrapper
    .container-about
     .about__logo_section
      h2.about__header Обо мне
      svg.about__header_logo
       use(xlink:href="#about_header")
     .about__info_block
      .img-wrap
       img(src="../assets/img/test.jpg").img_section
      h4.about__heading Кто я
      p.about__descr Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой    современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      p.about__descr Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
    .container-skills
     .skills__descr
      h3.skills__heading Чем я могу быть вам&nbsp; полезен
      p.skills__describe Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
     .skills_rounds
          h2.section-title.section-title--abilities Frontend
          -var frontend = { 'HTML' : 'graph__fill--html', 'CSS' : 'graph__fill--css','JS' : 'graph__fill--js' }
          .graphs
           each type,name in frontend
            .graph
              svg(width="110", height="110", class="graph__svg")
                circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
                circle(r="45", cx="50%", cy="50%", stroke="#10c1a8", class='graph__fill #{type}', transform="rotate(-90 55 55)")
               span.graphs__text=name
          h2.section-title.section-title--abilities Backend
          -var backend = { 'PHP' : 'graph__fill--php', 'mySQL' : 'graph__fill--mysql','Node.js & npm' : 'graph__fill--node', 'Mongo.db' : 'graph__fill--mongo'  }
          .graphs
            each type,name in backend
             .graph
              svg(width="110", height="110", class="graph__svg")
                circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
                circle(r="45", cx="50%", cy="50%", stroke="#10c1a8", class="graph__fill #{type}", transform="rotate(-90 55 55)")
               span.graphs__text=name
          h2.section-title.section-title--abilities Workflow
          -var workflow = { 'Git' : 'graph__fill--git', 'Gulp' : 'graph__fill--gulp','Bower' : 'graph__fill--bower' }
          .graphs
            each type,name in workflow
             .graph
              svg(width="110", height="110", class="graph__svg")
                circle(r="45", cx="50%", cy="50%", stroke="#ccc", fill="none")
                circle(r="45", cx="50%", cy="50%", stroke="#10c1a8", class="graph__fill #{type}", transform="rotate(-90 55 55)")
               span.graphs__text=name
   section.map
    .map-section#map
    .contacts
     h3.contacts__heading контакты
     -var contacts = { '#skype' : 'vsebydetkaknado', '#envelope' : 'vsebydetkaknado@gmail.com', '#phone' : '+7 953 172 51 08', '#map_marker' : 'Санкт-Петербург'}
     ul.contacts__list
        each text,id in contacts
            li.contacts__item
             svg.contact-icon
              use(xlink:href='#{id}')
             span.contacts__text=text
  include common/_footer
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_7umeeXFKJy0XukfBuBJT5PtOvGZ8Rxk&callback=initMap",async defer)